<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Css/gamerpluscss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/gamerplusjquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet" />
</head>
<body style="">
    <div class="modalMain">
        <div class="modalGameDetails">
            <div class="closeModal" onclick="closeModal(this);" ><span class="closed glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>